<h1 class="text-2xl md:text-3xl pl-2 my-2 font-sans font-bold border-teal-400 text-gray-700">Active Flows</h1>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 m-2 bg-clip-border rounded-xl text-gray-700 p-4 shadow-xl shadow-blue-gray-900/5">
  <ng-container matColumnDef="srcIp">
    <th mat-header-cell *matHeaderCellDef>Src Ip</th>
    <td mat-cell *matCellDef="let element">{{ element.srcIp }}</td>
  </ng-container>
  <ng-container matColumnDef="srcPort">
    <th mat-header-cell *matHeaderCellDef>Src Port</th>
    <td mat-cell *matCellDef="let element">{{ element.srcPort }}</td>
  </ng-container>
  <ng-container matColumnDef="destIp">
    <th mat-header-cell *matHeaderCellDef>Dest Ip</th>
    <td mat-cell *matCellDef="let element">{{ element.destIp }}</td>
  </ng-container>
  <ng-container matColumnDef="destPort">
    <th mat-header-cell *matHeaderCellDef>Dest Port</th>
    <td mat-cell *matCellDef="let element">{{ element.destPort }}</td>
  </ng-container>
  <ng-container matColumnDef="protocol">
    <th mat-header-cell *matHeaderCellDef>Protocol</th>
    <td mat-cell *matCellDef="let element">{{ element.protocol }}</td>
  </ng-container>
  <ng-container matColumnDef="packetsIn">
    <th mat-header-cell *matHeaderCellDef>Packets In</th>
    <td mat-cell *matCellDef="let element">{{ element.packetsIn }}</td>
  </ng-container>
  <ng-container matColumnDef="bytesIn">
    <th mat-header-cell *matHeaderCellDef>Bytes In</th>
    <td mat-cell *matCellDef="let element">{{ element.bytesIn }}</td>
  </ng-container>
  <ng-container matColumnDef="packetsOut">
    <th mat-header-cell *matHeaderCellDef>Packets Out</th>
    <td mat-cell *matCellDef="let element">{{ element.packetsOut }}</td>
  </ng-container>
  <ng-container matColumnDef="bytesOut">
    <th mat-header-cell *matHeaderCellDef>Bytes Out</th>
    <td mat-cell *matCellDef="let element">{{ element.bytesOut }}</td>
  </ng-container>
  <ng-container matColumnDef="duration">
    <th mat-header-cell *matHeaderCellDef>Duration</th>
    <td mat-cell *matCellDef="let element">{{ element.duration }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator class="shadow-xl rounded-xl m-2 " [pageSizeOptions]="[5, 10, 25, 50]" showFirstLastButtons></mat-paginator>
